* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
[class*="col"] {
    background-color: lightcoral;
}
*/

.bg_full {
    background-color: lightgreen;
}

.img_cont {
    width: 200px;
    height: 200px;
    background-color: lightcoral;
}

.img_box img {
    width: 100%;
    border-radius: 15px;
}

