* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
[class*="col"] {
    background-color: lightcoral;
}
*/

.bg_full {
    background-color: #19bc9c;
}

#bg h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
}

#bg p {
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
}

.bg_foot {
    background-color: #2b3e50;
    color: #fff;
}

.navbar-collapse {
    flex-grow: 0;
}

.img_static_w {
    width: 200px;
    height: 200px;    
}

.img_box img {
    width: 100%;
    border-radius: 15px;
}

.bi-star-fill {
    font-size: 18px;
    margin: 16px;
    color: #fff;
}

.star::before,
.star::after {
    content: "";
    display: inline-block;
    width: 30%;
    height: 4px;
    line-height: 4px;
    vertical-align: middle;
    background-color: #fff;
}

.form-control {
    border:none;
}

.underlineBorder {
    border-bottom: 1px solid #ced4da;
}


