* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {text-decoration: none;}
/*
[class*="col"] {
    background-color: lightcoral;
}
*/

.bg_nav {
    background-color: #2c3e50;
}

.navbar-brand {
    font-size: 32px;
}

.bg_nav a{
    text-transform: uppercase;
}

.bg_full {
    background-color: #19bc9c;
}

.txt_custom_color {
    color: #19bc9c;
}

#bg h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
}

#bg p {
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
}

.bg_foot {
    background-color: #2b3e50;
    color: #fff;
    font-size: 24px;
}

.navbar-collapse {
    flex-grow: 0;
}

.img_static_w {
    width: 200px;
    height: 200px;    
}

.img_box img {
    width: 100%;
    border-radius: 15px;
}

.bi-star-fill {
    font-size: 18px;
    margin: 16px;
}

.bi-download {
    margin-right: 8px;
}

.w {color: #fff;}
.b {color: #333333;}

.starWhite::before,
.starWhite::after {
    content: "";
    display: inline-block;
    width: 30%;
    height: 4px;
    line-height: 4px;
    vertical-align: middle;
    background-color: #fff;
}

.starDark::before,
.starDark::after {
    content: "";
    display: inline-block;
    width: 30%;
    height: 4px;
    line-height: 4px;
    vertical-align: middle;
    background-color: #333333;
}

.form-control {
    border:none;
}

.underlineBorder {
    border-bottom: 1px solid #ced4da;
}

.icon_cont {
    display: flex;
    justify-content: center;
}

.icon_radius {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #fff;
}


